@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

* {
  background-color: #FBE7B2;
}

.menubar-title {
  font-family: 'Pretendard';
  font-size: 55px;
  font-weight: 900;
  color: #413609;
  position: absolute; 
  top: 120px;        
  left: 120px;
  margin: 0;
}

.menu {
  position: absolute;
  top: 198px;
  left: 120px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  font-family: 'Pretendard';
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}